<div class="landing">
  <div class="container">
    <div class="row text-cener">
      <div class="jumbotron front_title text-center">
        <h1>Welkome to Lisbook</h1>
        <h2>This is the great place to create your friends network.</h2>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>

      </div>

    </div>

  </div>
</div>
